<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOP</title>
    <link rel = "stylesheet" href = "userStyle.css">
</head>
<body>
   <header>
       <button id = "logoBtn" class="logo">Shoppee</button>
       <form class="search-bar">
           <input type="text" placeholder="Sign up and get 10% off your first order">
           <button type="submit" class="searchBtn"></button>
       </form>
       <button class="cart"></button>
   </header>
   <h2 id = "cat" class = "titleCategories">CATEGORIES</h2>
   <div class="product-categories">
       <div class="category" id = "Footwear">
           <img src="images/shoe.avif" alt="Footwear">
           <p>Footwear</p>
       </div>
       <div class="category" id = "CLothes">
           <img src="images/clothes.avif" alt="Clothes">
           <p>Clothes</p>
       </div>
       <div class="category" id = "Accessories">
           <img src="images/accessories.png" alt="Accessories">
           <p>Accessories</p>
       </div>
       <div class="category" id = "Toys">
           <img src="images/Toys.jpg" alt="Toys">
           <p>Toys</p>
       </div>
       <div class="category">
           <img src="images/Cosmetics.jpg" alt="Cosmetics">
           <p>Cosmetics</p>
       </div>
       <div class="category">
           <img src="images/Device.jpg" alt="Device">
           <p>Device</p>
       </div>
   </div>
   <div id="product-display"></div>
   <script src="user.js"></script> 
</body>
</html>