.header{
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    font-size: xx-large;
    background-color: white;
    min-height: 80px;
    max-height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    padding-left: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.c1{
    width: 18%;
    list-style-type: none;
    min-height: 660px;
    max-height: 660px;
    text-align: center;
    position: fixed;
    left: 0;
    top: 80px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.c1 li {
    position: relative;
    height: 80px;
    display: flex;
    padding-left: 30px;
    align-items: center;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    overflow-x: hidden;
}


.active{
    background-color: rgb(222, 219, 219);
}

li:hover{
    background-color: rgb(222, 219, 219);
}

.c2 {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 320px;
    max-width: 1090px;
    border-radius: 5px;
    background-color: white;
    padding-left: 20px;
    padding-top: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.addProduct{
    display: flex;
    flex-direction: row;
    min-width: 50px;
    min-height: 50px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 90px;
    right: 43px;
    border-radius: 5px;
    border: none;
    background-color: rgb(97, 162, 202);
    background-image: url('/images/add.png');
    background-size: 15px 15px; /* Adjusts the background image to cover the entire button */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center;
}

.row2{
    width: 1150px;
    flex-wrap: wrap;
    min-height: 550px;
}

.productBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 89%;
    height: 20px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.productBox:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease-in-out;
}


p{
    width: 0px;
}

.productDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    gap: 140px;
}

.productImage {
    width: 50px;
    height: auto;
    font-size: 16px;
    line-height: 1.5;
    margin-right: -35px;
    margin-left: -85px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.labelsTable {
    width: 950px;
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 20px;
}

.name{
    position: absolute;
    left: 320px;
    top: 85px;
}

.labelsTable th {
    text-align: left;
    padding-top: 10px;
    padding-left: 7px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #ccc;
}

.productText {
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 10ch;
    position: relative;
}

.statusText{
    margin-left: 20px;
}

.categoryText{
    margin-left: 20px;
}

.ebutton {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: green;
    background-image: url('/images/pencil.png');
    background-size: 15px 15px; /* Adjusts the background image to cover the entire button */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center;
}

.dbutton {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-image: url('/images/bin.png');
    background-color: red;
    background-size: 15px 15px; /* Adjusts the background image to cover the entire button */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center;
    width: 30px;
    height: 30px;
}

.button:hover {
    background-color: #ddd;
}

.content{
    display: flex;
    background-color: rgb(222, 219, 219);
    width: 1600px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 370px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    overflow: auto; /* Ensures content can scroll if it exceeds max-height */
}

.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    align-self: flex-end;
    margin-top: 10px;
}

.modal-content label{
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.modal-content input, .modal-content select {
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal-content input[type="submit"], .subBtn {
    margin-top: 20px;
    align-self: center;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.modal-content input[type="submit"]:hover, .subBtn:hover {
    background-color: #45a049; /* Darker shade on hover */
}

#editProductForm {
    display: flex;
    flex-direction: row; /* Ensures elements are stacked vertically */
    gap: 5px; /* Space between form elements */
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%; /* Adjusted to fit within the productBox */
    margin: auto; /* Centers the form within the productBox */
}

#editProductForm input,
#editProductForm select,
#editProductForm button {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    width: 100%; /* Ensures inputs take up the full width of the form */
}

#editProductForm button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
    width: 100%; /* Makes the button take up the full width of the form */
}

#editProductForm button:hover {
    background-color: #45a049;
}

.user-menu {
    position: fixed;
    display: inline-block;
    left: 1410px;
    top: 21px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.user-button{
    background-image: url('/images/user.png');
    background-size: 35px 35px; /* Adjusts the background image to cover the entire button */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center;
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    border: none;
}

/* Adjusted hover effect to apply to the .user-menu container */
.user-menu:hover .dropdown-content {
    display: block;
}




