header {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    font-size: xx-large;
    background-color: #2196f3; /* Light blue */
    min-height: 80px;
    max-height: 80px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    padding-left: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.logo {
    font-size: 2em;
    border: none;
    background-color: #2196f3; /* Light blue */
    color: white;
    margin-left: 120px;
}

.search-bar {
    flex-grow: 1; /* This allows the search bar to grow and take up available space */
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-left: 50px;
}

.searchBtn{
    position: fixed;
    top: 34px;
    left: 1127px;
    background-image: url('/images/search.png');
    height: 36px;
    width: 60px;
    background-size: 15px 15px; /* Adjusts the background image to cover the entire button */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center;
    background-color: #2196f3; /* Light blue */
    border: none;
    border-radius: 2px;
}

input{
    width: 800px;
    height: 40px;
    border-radius: 3px;
    border:none;
}

#imgs{
    margin-top: 50px;
    margin-left: 50px;
}

.cart {
    background-color: #2196f3; /* Light blue */
    background-size: 30px 30px; /* Adjusts the background image to cover the entire button */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center;
    width: 40px;
    height: 40px;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    background-image: url('/images/cart.png');
    position: fixed;
    left: 1260px;;
    top: 30px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(222, 219, 219);
    color: #333;
}

main {
    padding-top: 100px; /* Adjust based on the height of your header */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.product-info-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 580px;
    background-color: #ffffff;
    margin-top: 30px;
}

.product-image {
    width: 40%;
    margin-right: 20px;
}

.product-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.product-details {
    width: 55%;
    margin-left: 100px;
    margin-top: 50px;
}

.product-specs {
    margin-top: 20px;
}

.product-specs ul {
    list-style-type: none;
    padding: 0;
}

.product-specs ul li {
    margin-bottom: 10px;
}

.product-actions {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    position: absolute;
    top: 800px;
    left: 0px;
}

.action-btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#addToCartBtn {
    background-color: #4CAF50; /* Light blue */
    color: white;
    position: absolute;
    bottom: 200px;
    left: 690px;
    width: 150px;
}

#buyNowBtn {
    background-color: #f44336; /* Light blue */
    color: white;
    position: absolute;
    bottom: 200px;
    left: 880px;
    width: 150px;
}

.user-menu {
    position: fixed;
    display: inline-block;
    left: 1410px;
    top: 31px;
 }
 
 .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
 }
 
 .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 20px;
 }
 
 .dropdown-content a:hover {background-color: #f1f1f1}
 
 .user-button{
    background-image: url('/images/user.png');
    background-size: 35px 35px; /* Adjusts the background image to cover the entire button */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center;
    background-color: #2196f3;
    width: 40px;
    height: 40px;
    border: none;
 }
 
 #product-price{
    color: #f44336;
    font-size: 30px;
    font-weight: 600;
 }
 
 /* Adjusted hover effect to apply to the .user-menu container */
 .user-menu:hover .dropdown-content {
    display: block;
 }
